<ion-view title="เพิ่มรายการนัดหมาย" id="page9">
  <ion-content padding="true" class="has-header">
    <form id="page9-form7" class="list">
      <label class="item item-input" id="page9-input13">
        <input type="text" placeholder="ชื่อนัดหมาย">
      </label>
      <label class="item item-input" id="page9-input11">
        <span class="input-label">วันที่</span>
        <input type="date" placeholder="">
      </label>
      <label class="item item-input" id="page9-input12">
        <span class="input-label">เวลา</span>
        <input type="time" placeholder="">
      </label>
      <label class="item item-select" id="page9-select5">
        <span class="input-label">ประเภทนัดหมาย</span>
        <select>
          <option>สุขภาพทั่วไป</option>
          <option>สุขภาพฟัน</option>
        </select>
      </label>
      <label class="item item-input" id="page9-textarea2">
        <span class="input-label"></span><textarea placeholder="รายละเอียดเพิ่มเติมนัดหมาย"></textarea></label>
      <label class="item item-input" id="page9-input14">
        <input type="text" placeholder="สถานที่">
      </label>
    </form>
    <a ui-sref="page6" id="page9-button4" class="button button-assertive  button-block">บันทึก</a>
  </ion-content>
</ion-view>