<ion-view title="หน้าแรก" id="page15" hide-back-button="true">
  <ion-content padding="true" class="has-header">
    <div>
      <style>
        table, th, td {
            border: 1px solid black;
        }
      </style>
      <div>
        <center>
          <h1>Count Down</h1>
        </center>
      </div>

      <div>
        <table style="width:100%; text-align:center;">
          <tbody>
            <tr>
              <th>มื้ออาหาร</th>
              <th>ช่วงเวลา</th>
              <th>เวลาแจ้งเจ้งเตือน</th>
            </tr>
            <tr>
              <td>เช้า</td>
              <td>ก่อนอาหาร</td>
              <td>9.00</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
    <div class="spacer" style="width: 300px; height: 291px;"></div>
    <a ui-sref="page13" id="page15-button8" class="button button-assertive  button-block">แก้ไขเวลาแจ้งเตือน</a>
  </ion-content>
</ion-view>