<ion-view title="เข้าสู่ระบบ" id="page5" >
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 57px;"></div>
    <div>
      <img src="img/4Kt14aNlQse4x574x0Vm_logo.PNG" style="display: block; width: 55%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page5-form1" class="list">
      <div class="spacer" style="width: 300px; height: 10px;"></div>
      <ion-list id="page5-list2">
        <label class="item item-input" id="page5-input1">
          <span class="input-label">ชื่อผู้ใช้</span>
          <input type="text" placeholder="ชื่อผู้ใช้">
        </label>
        <label class="item item-input" id="page5-input2">
          <span class="input-label">รหัสผ่าน</span>
          <input type="password" placeholder="รหัส">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a ui-sref="page6" id="page5-button1" class="button button-dark  button-block">เข้าสู่ระบบ</a>
      <a ui-sref="page8" id="page5-button2" class="button button-positive  button-block button-clear">หรือ สร้างบัญชี</a>
    </form>
  </ion-content>
</ion-view>