<ion-view title="ดูรายการยา" id="page10">
  <ion-content padding="true" class="has-header">
    <form id="page10-form6" class="list">
      <label class="item item-select" id="page10-select4">
        <span class="input-label">ดูรายการยา</span>
        <select>
          <option>ทั้งหมด</option>
          <option>ช่วงเช้า</option>
          <option>ช่วงบ่าย</option>
          <option>ช่วงเย็น</option>
        </select>
      </label>
    </form>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <ion-list id="page10-list6">
      <ion-item class="item-thumbnail-left" id="page10-list-item15">
        <h2>Item</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="page10-list-item16">
        <h2>Item</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="page10-list-item18">
        <h2>Item</h2>
      </ion-item>
    </ion-list>
    <div>
      <a style="display:block;" ui-sref="page7">
        <img src="img/ez7ayQMTuSXI1dUG5bPL_plus_add_additional_circle-128.png" style="display: block; width: 15%; height: auto; margin-left: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>