<ion-view title="หน้าแรก" id="page6">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/qV9BcT9qQ3ON7umtypGQ_calendar.PNG" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 14px;"></div>
    <ion-list id="page6-list4">
      <ion-item id="page6-list-item20">นัดทำฟัน</ion-item>
      <ion-item id="page6-list-item21">ตรวจสุขภาพปอด อายุรกรรม</ion-item>
      <ion-item id="page6-list-item22">เจาะเลือด</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 27px;"></div>
    <div>
      <a style="display:block;" ui-sref="page9">
        <img src="img/ez7ayQMTuSXI1dUG5bPL_plus_add_additional_circle-128.png" style="display: block; width: 15%; height: auto; margin-left: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>