<ion-view title="เชื่อมต่ออุปกรณ์" id="page12">
  <ion-content padding="true" class="has-header">
    <form id="page12-form9" class="list">
      <h3 id="page12-heading2" style="color:#000000;">รหัสอุปกรณ์</h3>
      <label class="item item-input" id="page12-input15">
        <span class="input-label">รหัสอุปกรณ์</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <button id="page12-button6" class="button button-assertive  button-block">เชื่อมต่อ</button>
  </ion-content>
</ion-view>