<ion-view title="ตั้งค่า" id="page13">
  <ion-content padding="true" class="has-header">
    <form id="page13-form12" class="list">
      <ion-toggle toggle-class="toggle-positive" id="page13-toggle3">การแจ้งเตือน</ion-toggle>
      <label class="item item-select" id="page13-select6">
        <span class="input-label">ระยะเวลาที่กดรับยาได้ (+/-)</span>
        <select>
          <option>10 นาที</option>
          <option>15 นาที</option>
          <option>20 นาที</option>
          <option>25 นาที</option>
          <option>30 นาที</option>
        </select>
      </label>
    </form>
  </ion-content>
</ion-view>