<ion-view title="สมัครสมาชิก" id="page8">
  <ion-content padding="true" class="has-header">
    <form id="page8-form3" class="list">
      <ion-list id="page8-list3">
        <label class="item item-input" id="page8-input5">
          <input type="email" placeholder="อีเมลล์">
        </label>
        <label class="item item-input" id="page8-input6">
          <input type="text" placeholder="ชื่อผู้ใช้">
        </label>
        <label class="item item-input" id="page8-input7">
          <input type="password" placeholder="รหัสผ่าน">
        </label>
        <label class="item item-input" id="page8-input10">
          <input type="text" placeholder="ยืนยันรหัสผ่าน">
        </label>
      </ion-list>
      <button ui-sref="page6" id="page8-button3" class="button button-dark  button-block">สมัครสมาชิก</button>
    </form>
  </ion-content>
</ion-view>