<ion-view title="ประวัติการทานยา" id="page11">
  <ion-content padding="true" class="has-header">
    <form id="page11-form8" class="list">
      <label class="item item-input" id="page11-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="ค้นหา">
      </label>
    </form>
    <div>
      <style>
        table, th, td {
            border: 1px solid black;
        }
      </style>

      <div>
        <h3>วันที่</h3>
        <p>ประวัติการทานยา</p>
        <p>...</p>
        <table style="width:100%">
          <tbody>
            <tr>
              <th>มื้ออาหาร</th>
              <th>ชื่อยา</th>
              <th>จำนวนยา</th>
            </tr>
            <tr>
              <td>หลังอาหารเช้า</td>
              <td>paracetamol</td>
              <td>2 เม็ด</td>
            </tr>
            <tr>
              <td>หลังอาหารเช้า</td>
              <td>aomoxilin</td>
              <td>1 เม็ด</td>
            </tr>


          </tbody>
        </table>

      </div>
    </div>
  </ion-content>
</ion-view>